
body {
    margin: 2% 20% 10px 20%;
}

.database table {
    border: 6px solid #948473;
    background-color: #FFE3C6;
    width: 100%;
    text-align: center;
}

.database th {
    border: 1px solid #948473;
    padding: 4px 4px;
    background: #948473;
    background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
    font-size: 17px;
    font-weight: bold;
    color: #F0F0F0;
    text-align: left;
    border-left: 2px solid #948473;
}

.database td {
    border: 1px solid #948473;
    padding: 4px 4px;
}

.database td:hover {
    background-color: rgb(255, 249, 242);
}

.forms table {
    vertical-align: top;
    width: 100%;
    table-layout: fixed;
    text-align: left;
    padding-top: 0px;
}

.forms th {
    width: auto;
    padding: 0%;
}

.divTable{
	display: table;
    width: 100%;
    table-layout: fixed;
}
.divTableRow {
	display: table-row;
}
.divTableCell {
	display: table-cell;
    padding: 3px 10px;
}
.divTableBody {
	display: table-row-group;
}

button {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:6px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
button:hover {
	background-color:#5cbf2a;
}
button:active {
	position:relative;
	top:1px;
}

#btndelete {
    background-color: red;
    border: #cc0000;
}

#btndelete:hover {
    background-color: rgb(122, 0, 0);
}

.other form {
    float: left;
    padding: 1%;
}