extends default

block content

    div.content
        div.database
            table
                tr
                    th 
                    th Cadência fabrico
                    th Peças com Defeitos
                    th Consumo de água
                tr
                    td
                        p Média
                    td
                        p Nr Peças
                        p(id="txtmedpecas") 0
                        p Tempo
                        p(id="txtmedcadtemp") 0
                    td
                        p(id="txtmeddef") 0
                    td
                        p Litros de água
                        p(id="txtmedlitros") 0
                        p Tempo
                        p(id="txtmedcontemp") 0
                tr
                    td
                        p Última Amostra
                    td
                        p Nr Peças
                        p(id="txtlastpecas") 0
                        p Tempo
                        p(id="txtlastcadtemp") 0
                    td
                        p(id="txtlastdef") 0
                    td
                        p Litros de água
                        p(id="txtlastlitros") 0
                        p Tempo
                        p(id="txtlastcontemp") 0
        br
        br
        div.other
            form(action="/" method="get")
                button(id="back") Voltar
    script(src="dash.js")