extends default

block content

    div.content
        div.database
            table
                tr
                    th Cadência fabrico
                        p (nr peças/hora)
                    th Peças com Defeitos
                    th Consumo de água
                        p (m3/hora)
                tr
                    td
                        p(id="txtcadencia") 0
                    td
                        p(id="txtdefeitos") 0
                    td
                        p(id="txtconsumo") 0
        div.divTable
            div.divTableBody
                div.divTableRow
                    div.divTableCell
                        h3 Cadência fabrico
                        form(action="/cadencia", method="post")
                            p Número de peças
                            input(type="number" name="cadencia[pecas]" value="0")
                            p Tempo de operação em segundos
                            input(type="number" name="cadencia[tempo]" value="0")
                            br
                            br
                            button(id="btncadencia") Adicionar
                        br
                    div.divTableCell
                        h3 Defeitos
                        form(action="/defeitos", method="post")
                            input(type="number" name="defeitos[defeitos]" value="0")
                            br
                            br
                            button(id="btndefeitos") Adicionar
                        br
                    div.divTableCell
                        h3 Consumo de água
                        form(action="/consumo", method="post")
                            p Consumo de água (litros)
                            input(type="number" name="consumo[litros]" value="0")
                            p Tempo de operação na estação de lavagem (segundos)
                            input(type="number" name="consumo[tempo]" value="0")
                            br
                            br
                            button(id="btnconsumo") Adicionar
                        br
    br
    div.other
        div
            form(action="/delete" method="get")
                button(id="btndelete") Eliminar dados
        div
            form(action="/dashboard" method="get")
                button(id="dashboard") Dashboard

    script(src="script.js")